@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Radio Canada', sans-serif;

  --color-dark-blue: #122257;
  --color-green-400: #27ba3d;
  --color-green-500: #23b239;
  --color-green-600: #1e9630;
}

:root {
  --ui-header-height: 64px;
  --ui-footer-height: 65px;
  --ui-main-height: calc(100vh - var(--ui-header-height) - var(--ui-footer-height));
}
