@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Radio Canada', sans-serif;
}

:root {
  --ui-header-height: 64px;
  --ui-footer-height: 65px;
  --ui-main-height: calc(100vh - var(--ui-header-height) - var(--ui-footer-height));
}
